<div class="d-flex justify-content-center" *ngIf="personne">
    <div class="col-lg-8 push-lg-4">
      <div class="tab-content p-b-3">
        <div class="tab-pane active" id="profile">
          <br>
          
          <h4 class="m-y-2"> <strong>Curriculum Vitae : </strong> {{personne.firstName}} {{personne.lastName}}</h4>
          <div class="d-flex justify-content-center">
            <img width="150px" height="150px" class="rounded-circle align-content-center" src="../../../assets/PersonPics/{{personne.path}}">
          </div>
          <div class="row">
            <div class="col-md-12">
              <h4 class="m-t-2"><span class="fa fa-clock-o ion-clock pull-xs-right"></span> <strong> Informations </strong> </h4>
              <table class="table table-hover table-striped">
                <tbody>
                <tr>
                  <td>
                    <strong>First Name : </strong> {{ personne.firstName}}
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong> Last Name : </strong> {{ personne.lastName}}
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>Job : </strong> {{ personne.job}}
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>Age : </strong> {{ personne.age}}
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>Cin : </strong> {{ personne.cin}}
                  </td>
                </tr>
                </tbody>
              </table>


            </div>
          </div>
          <!--/row-->
        </div>
      </div>
    </div>
  </div>
  