<form #loginFormulaire="ngForm" (submit)="login(loginFormulaire.value)">

    <label for="email">Email </label>
    <input email required id="email" type="text" ngModel name="email" class="form-control" #emailInput="ngModel">

    <br>
    <div class="alert alert-danger" *ngIf="emailInput.invalid && emailInput.dirty">
        Votre email n'est pas valide !!
    </div>

    <label for="password">Password </label>
    <input required id="password" minlength="4" type="password" ngModel name="password" class="form-control"
        #pwdInput="ngModel">
    <br>
    <div class="alert alert-danger" *ngIf="pwdInput.invalid && pwdInput.touched">
        Le mot de passe doit avoir au minimum 4 caractére !!
    </div>
    <br>

    <button [disabled]="loginFormulaire.invalid" class="btn btn-primary" (click)="login(loginFormulaire.value)">
        Se connecter
    </button>


</form>